a:hover{
	text-decoration: none;
	cursor: pointer;
}
.f_black{
	color: black !important;
	border:1px solid black !important;
}
.f_gainsboro{
	color: gainsboro !important;
	border:1px solid gainsboro !important;
}

/*内容*/
.slide{
	max-width: 600px !important;
}
.slide:after{
	width: 600px !important;
}
.container{
	margin: 0 auto;
	padding: 0;
	padding-top: 80px;
	width: 1100px;
}
.container>div:nth-of-type(1){
	min-height: 600px;
}
.container div #carousel-example-generic{
	width:600px;
	margin: 0 !important;
	height: 500px;
	margin-top: 0;
	float: left;
}
.container div #carousel-example-generic .carousel-inner,
.container div #carousel-example-generic .carousel-inner .item,
.container div #carousel-example-generic .carousel-inner .item img{
	width: 100%;
	height: 100%;
}
.container>div>div.indent{
	text-indent: 0;
	padding-left: 0;
	padding-top: 30px;
	width:460px;
	display: inline-block;
	margin-left: 25px;
}
.container>div>div.indent>p:nth-of-type(1){
	padding-left:0 ;
	font-family: "微软雅黑";
	font-size: 20px;
	color: #000000;
}
.container>div>div.indent>p:nth-of-type(2){
	padding-left: 0;
	font-size: 20px;
}
.container>div>div.indent>hr{
	border: 1px solid gainsboro;
	margin: 10px 0;
	margin-right: 30%;

	
}
.container>div>div.indent>.choose{
	padding: 0;
}
.container>div>div.indent>.choose p{
	font-size: 17px;
	margin: 3px 0;
}
.container>div>div.indent>.choose a{
	display: inline-block;
	padding: 0;
	margin: 5px 0px;
	margin-right: 7px;
	border: 1px solid rgba(0,0,0,0);
}
.container>div>div.indent>.choose>a>span{
	color: #000000;
}
.container>div>div.indent>.choose a span,
.container>div>div.indent>.choose span{
	cursor:pointer;
	display: inline-block;
	padding: 5px 3px;
	font-size: 15px;
	background-color: white;
	border: 1px solid gray;

}
.container>div>div.indent>.choose a:hover{
	border: 1px solid #000000;
	text-decoration: none;
	padding: 0;
}
.container>div>div.indent>div.choose:last-of-type{
	margin-top: 20px;
}
.container>div>div.indent>div.choose:last-of-type a{
	margin-bottom: 5px;
	padding-bottom:1px ;
}
.container>div>div.indent>div.choose:last-of-type a:nth-of-type(1) span{
	width: 150px;
	text-align: center;
	color: white;
	background-color: #000000;
	font-weight: bold;
}
.container>div>div.indent>div.choose:last-of-type a:nth-of-type(2){
	margin-left: 40px;
	border: 1px solid gray;
	font-size: 15px;
	text-align: center;
	padding: 5px 3px;
	width: 60px;
	height: 30px;
}
.container>div>div.indent>div.choose:last-of-type a:nth-of-type(2):hover{
	color: gainsboro;
}
.container>div>div.indent>div.choose:last-of-type a:nth-of-type(2) span{
	margin: 0;
	padding: 0;
	border: none;
	color: gainsboro;
	height: 25px;
}
.container>.shopDetails{
	height: 250px;
	margin: 20px 0;
	padding: 10px 20px;
	border: 2px solid gainsboro;
	
}
.container>.shopDetails p{
	text-align: center;
	font-family: "microsoft yahei";
	color: #000000;
	font-size: 22px;
	padding: 15px 0;
}
.container>.shopDetails ul li{
	list-style-type: none;
	margin: 5px 0;
	font-size: 11px;
}
.container>.shopDetails ul li span{
	margin-left: 5px;
}
.container>.col-sm-12,
.container>.col-sm-12>div.col-sm-4{
	padding-left: 0;
}

.container>.col-sm-12>div.col-sm-4>div{
	width: 90%;
	border: 1px solid gainsboro;
	margin-bottom: 60px;
	text-align: center;
	padding-bottom: 40px;
}
.container>.col-sm-12>div.col-sm-4>div:nth-of-type(1){

	
	padding-top:80px ;
	font-family: "microsoft yahei";
}
.container>.col-sm-12>div.col-sm-4>div:nth-of-type(1)>img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-bottom: 20px;
	
}
.container>.col-sm-12>div.col-sm-4>div:nth-of-type(1)>p:nth-of-type(1){
	
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	margin: 5px 0;
	margin-bottom: 10px;
}
.container>.col-sm-12>div.col-sm-4>div:nth-of-type(1)>span:nth-of-type(1){
	
	font-size: 15px;
	font-weight: bold;
	color: gray;

}
.container>.col-sm-12>div.col-sm-4>div:nth-of-type(1)>hr:nth-of-type(1),
.container>.col-sm-12>div.col-sm-4>div:nth-of-type(2)>hr:nth-of-type(1){
	margin: 40px 20px;
	border: 1px solid gainsboro;
}
.container>.col-sm-12>div.col-sm-4>div:nth-of-type(1)>a:nth-of-type(1){
	margin-top: 30px;
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #000000;
	width: 100px;
	text-align: center;
	color: #000000;
}
.container>.col-sm-12>div.col-sm-4>div:nth-of-type(1)>a:nth-of-type(1) span{
	color: ;
}
.container>.col-sm-12>div.col-sm-4>div:nth-of-type(2) img{
	width: 60%;
	margin-top: 70px;
	margin-bottom: 30px;
}
.container>.col-sm-12>div.col-sm-4>div:nth-of-type(2)>hr:nth-of-type(1){
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 20px;
}
.container>.col-sm-12>div.col-sm-4>div:nth-of-type(2)>p:nth-of-type(1){
	font-size: 17px;
}
.container>.col-sm-12>div.col-sm-4>div:nth-of-type(3){
	border: none;
}
.container>.col-sm-12>div.col-sm-4>div:nth-of-type(3)>p{
	padding: 20px 0;
	font-size:21px;
	color: #000000;
	font-weight: bold;
}
.container>.col-sm-12>div.col-sm-4>div:nth-of-type(3) a{
	text-decoration: none;
	display: inline-block;
	width: 100%;
	border: 1px solid rgba(0,0,0,0);
}
.container>.col-sm-12>div.col-sm-4>div:nth-of-type(3) a:hover{
	border: 1px solid black !important;
}
.container>.col-sm-12>div.col-sm-4>div:nth-of-type(3) a img{
	width: 100%;
}
.container>.col-sm-12>div.col-sm-4>div:nth-of-type(3) a>div p{
	font-size:17px;
	padding-top: 15px;
	color: #000000;
	font-weight: bold;
	color: #000000;
}
.container>.col-sm-12>div.col-sm-8 img{
	width: 100%;
	margin-bottom: 10px;
}
